* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
html,
body {
  width: 100%;
  height: 100%;
  background: #fed7ba;
}
/* navbar */
.navbar {
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  display: inline;
  margin: 10px;
}
.navbar a {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: black;
  text-decoration: none;
}
/* logo */
#Crystal img {
  width: 300px;
  height: 50px;
  margin-left: 50%;
}
.navbar-logo {
  display: flex;
  margin-left: 30px;
}
.heart img {
  width: 30px;
  height: 30px;
  margin-right: 90px;
  margin-top: 10px;
  margin-left: 50px;
}
.shop img {
  width: 30px;
  height: 30px;
  margin-right: 90px;
  margin-top: 10px;
}
.text img {
  width: 30px;
  height: 30px;
  margin-right: 90px;
  margin-top: 10px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contant {
  background-color: white;
  /* border: 2px solid red; */
  display: block;
  width: 300px;

}
.contant h4 {
  width: 200px;
  height: 55px;
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: #8b0000;
}
#menu {
  width: 138px;
  height: 308px;
  text-align: center;
  margin-left: 10px;
}
.info {
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 50px;
  color: #000000;
  text-decoration: none;
}
.active{
  color: #8b0000;
}
/* a:is(:link, :active,:visited).active{
  color: #8B0000;
} */
#menu img {
  width: 25px;
  height: 14px;
  position: absolute;
  margin-left: 190px;
  margin-bottom: 90px;
}
.text-area {
  width: 78%;
  background-color:#ffffff;
  margin-right: 20px;
}
#center{
width: 1000px;
height: 50px;
background: #D27F7F80;
margin-left:100px;
margin-top: 30px;
}
#center h2{
font-family: Nunito Sans;
font-size: 25px;
font-weight: 600;
/* line-height: 40px; */
text-align: center;
padding: 5px;
margin-left: 50px;
}
.text h1{
  font-family: Nunito Sans;
  font-size: 25px;
  font-weight: 400;
  /* text-align: center; */
  margin-left: 80px;
  margin-top: 10px;
}
.text p{
width: 100%;
font-family: Poppins;
font-size: 20px;
font-weight: 200;
margin-left: 10%;
margin-top: 20px;
}
#mission h1{
font-family: Poppins;
font-size: 24px;
font-weight: 300;
line-height: 20px;
margin-top: 20px;
margin-left: 70px;
}
#mission p{
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 25px;
margin-left: 10%;
margin-top: 20px;
}
#our h1{
  font-family: Poppins;
font-size: 24px;
font-weight: 300;
line-height: 20px;
margin-top: 20px;
margin-left: 70px;
}
#our p{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  margin-left: 10%;
  margin-top: 20px;
}
#Contact-our h1{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 300;
  line-height: 20px;
  margin-top: 20px;
  margin-left: 70px;
}
#Contact-our p{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  margin-left: 10%;
  margin-top: 20px;
}
h5{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 300;
  line-height: 20px;
  margin-top: 20px;
  margin-left: 70px;
}
.information {
  width: 100%;
  background: #d9d9d9;
  position: relative;
}
#item {
  display: flex;
  justify-content: space-around;
}
#address {
  width: 114px;
  height: 41px;
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  color: #8b0000;
  margin-top: 20px;
}
#address p {
  margin-top: 10px;
  width: 300px;
  height: 100px;
  font-family: Nunito Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #000000;
}
#Help {
  width: 156px;
  height: 41px;
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #8b0000;
  margin-top: 20px;
}
#Help p a {
  width: 265px;
  height: 120px;
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
}
#contact {
  width: 150px;
  height: 41px;
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 40.92px;
  color: #8b0000;
  margin-top: 20px;
}
#contact img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
#contact a {
  width: 215px;
  height: 34px;
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  color: #000000;
  margin-top: 20px;
  text-decoration: none;
}
#links{
  width: 161px;
  height: 41px;
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #8b0000;
  margin-top: 20px;
}
#links a {
  width: 194px;
  height: 165px;
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #000000;
  text-decoration: none;
}
#location {
  width: 116px;
  height: 41px;
  opacity: 0px;
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #8b0000;
  margin-top: 200px;
  margin-left: 100px;
}
#location img {
  width: 308px;
  height: 164px;
}
#follow {
  height: 41px;
  font-family: Nunito Sans;
  font-size: 26px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 200px;
  margin-left: 40%;
}
#follow a {
  color: #8b0000;
  margin-top: 300px;
  text-decoration: none;
}
#follow img {
  width: 20px;
  height: 25px;
  margin-left: 20px;
}
footer {
  width: 641px;
  height: 41px;
  font-family: Nunito Sans;
  font-size: 30px;
  font-weight: 600;
  line-height: 40.92px;
  color: #8b0000;
  margin-left: 32%;
}
  /* career css */
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 3px solid blue; */
  }
  .contant {
    background-color: white;
    display: block;
    width: 300px;
  }
  .contant h4 {
    width: 200px;
    height: 55px;
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    color: #8b0000;
  }
  #menu {
    width: 138px;
    height: 308px;
    text-align: center;
  }
  /* .link {
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 43px;
    color: #000000;
    text-decoration: none;
  } */
  /* a:is(:link, :active,:visited).active{
    color: #8B0000;
  } */
  #menu img {
    width: 25px;
    height: 14px;
    position: absolute;
    margin-left: 190px;
    margin-bottom: 90px;
  }
  .text-area {
    width: 78%;
    background-color: #ffffff;
    margin-right: 20px;
  }
  #center {
    width: 1000px;
    height: 50px;
    background: #d27f7f80;
    margin-left: 100px;
    margin-top: 30px;
  }
  #center h2 {
    width: 877px;
    height: 49px;
    font-family: Nunito Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    padding: 5px;
    margin-left: 50px;
  }
  .textR p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    margin-left: 5%;
    margin-top: 20px;
  }
  #Artisanal h1 {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 12%;
  }
  #Artisanal h4 {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 300;
    line-height: 10px;
    margin-left: 12%;
    margin-top: 20px;
  }
  #Artisanal p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 200;
    line-height: 10px;
    margin-left: 12%;
    margin-top: 20px;
  }
  #Openings h1 {
      font-family: Poppins;
      font-size: 30px;
      font-weight: 400;
      line-height: 30px;
      margin-top: 20px;
      margin-left: 12%;
    }
  #Openings h4 {
      font-family: Poppins;
      font-size: 25px;
      font-weight: 400;
      margin-left: 12%;
      margin-top: 20px;
    }
    #Openings p {
      font-family: Poppins;
      font-size: 20px;
      font-weight: 200;
      line-height: 10px;
      margin-left: 12%;
      margin-top: 10px;
    }

  #Contact-ours h1 {
      font-family: Poppins;
      font-size: 30px;
      font-weight: 400;
      line-height: 60px;
       margin-top: 20px;
      margin-left: 12%;
    } 
    #Contact-ours p {
      font-family: Poppins;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      margin-left: 12%;
      margin-top: 20px;
    }
  h6 {
      font-family: Poppins;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      margin-left: 12%;
      margin-top: 20px;  
  }
  /*FQA css  */

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .contant {
    background-color: white;
    display: block;
    width: 300px;
  }
  .contant h4 {
    width: 200px;
    height: 55px;
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
    color: #8b0000;
  }
  #menu {
    width: 138px;
    height: 308px;
    text-align: center;
  }
  .link{
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 43px;
    color: #000000;
    text-decoration: none;
  }
  #menu img {
    width: 25px;
    height: 14px;
    position: absolute;
    margin-left: 190px;
    margin-bottom: 90px;
  }
  .Account{
    width: 150px;
  height: 100px;
  position: absolute;
    margin-left: 100px;
  }
  #Pickup{
    list-style: none;
  }
  #Pickup a{
    font-family: Nunito Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 27.28px;
  text-align: left;
  list-style: none;
  }
  .text-area {
    width: 78%;
    background-color: #ffffff;
    margin-right: 20px;
  }
  #center {
    width: 1000px;
    height: 50px;
    background: #d27f7f80;
    margin-left: 100px;
    margin-top: 30px;
  }
  #center h2 {
    width: 877px;
    height: 49px;
    font-family: Nunito Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    padding: 5px;
    margin-left: 50px;
  }
  .texts h1 {
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
  }
  .texts p {
    font-family: Nunito Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    margin-left: 70px;
  }
  #need {
    width: 70%;
  }
  #need h1 {
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    margin-left: 50px;
    margin-top: 20px;
  }
  #need p {
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 70px;
    margin-top: 10px;
  }
  #OTP h1 {
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
    margin-top: 20px;
    margin-left: 50px;
  }
  #OTP p {
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 70px;
    margin-top:30px;
  }
  #verify h1 {
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 50px;
  }
  #verify p {
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 70px;
  }
 