* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
html,
body {
  width: 100%;
  height: 100%;
  background: #fed7ba;
}
/* navbar */
.navbar {
  width: 1440px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  display: inline;
  margin: 10px;
}
.navbar a {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: black;
  text-decoration: none;
}
/* logo */
#Crystal img {
  width: 300px;
  height: 100%;
  margin-left: 50%;
}
.navbar-logo {
  display: flex;
  margin-left: 80px;
}
.heart img {
  width: 50px;
  height: 50px;
  margin-right: 90px;
}
.shop img {
  width: 50px;
  height: 50px;
  margin-left: 40px;
}
.text img {
  width: 50px;
  height: 50px;
  margin-right: 25px;
}
.product {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.necklace {
  width: 450px;
  height: 550px;
}
.necklace img {
  box-shadow: 10px 10px 4px 0px #00000040;
  border: 1px solid #000000;
  border-radius: 20px;
}
#heart {
  position: absolute;
  margin-left: -50px;
  margin-top: 20px;
}
.cart {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background: #8b0000;
  margin-left: 40px;
  margin-top: 20px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
.design {
  margin-left: 80px;
}
.design span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #ff0000;
}
#easy {
  margin-left: 160px;
}
#easy span {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #ff0000;
}
.head {
  width: 900px;
}
.head h3 {
  width: 352px;
  height: 36px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  text-align: left;
}
.head h1{
  font-family: Poppins;
font-size: 20px;
font-weight: 700;
line-height: 36px;
text-align: left;
}
.head p{
  font-family: Poppins;
font-size: 24px;
font-weight: 400;
line-height: 36px;
text-align: left;
}
#Price {
  font-family: Poppins;
font-size: 18px;
font-weight: 300;
line-height: 36px;
text-align: left;
color: #8B0000;

}
#rate span{
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: #8B0000;
}
#rate del{
  font-family: Poppins;
font-size: 20px;
font-weight: 300;
line-height: 30px;
text-align: left;
}
#rate b{
  color: #84292B;
}
#four b{
  font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: #716C6C;

}
#four span{
border-radius: 10px;
background: #D27F7F;
}
h2{
  font-family: Poppins;
font-size: 24px;
font-weight: 400;
line-height: 36px;
text-align: left;
color: #84292B;

}
.details b{
  font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
.details span{
  color: #8B0000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
#delivery{
  font-family: Poppins;
font-size: 24px;
font-weight: 300;
line-height: 36px;
text-align: left;
}
input{
  font-family: Poppins;
font-size: 20px;
font-weight: 300;
line-height: 30px;
text-align: left;
color: #84292B;
border: none;
border-bottom: 2px solid #84292B; 
margin-left: 40px;
}
#delivery button{
  width: 80px;
height: 20px;
border-radius: 30px;
background: #D27F7F;
border: none;
border-bottom: #8B0000;
position: absolute;
margin-left: -80px;
margin-top: 10px;
}
#Free{
  font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 30px;
text-align: left;
}
#Free span{
  color: #8B0000;
}
#know{
  font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
#know span{
  color: #716C6C;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

#reviews{
  font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
#reviews span{
  color: #716C6C;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
