* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
html,
body {
  width: 100%;
  height: 100%;
  background: #fed7ba;
}
/* navbar */
.navbar {
  width: 100%;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  display: inline;
  margin: 10px;
}
.navbar a {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: black;
  text-decoration: none;
}
/* logo */
#Crystal img {
  width: 300px;
  height: 50px;
  margin-left: 50%;
}
.navbar-logo {
  display: flex;
  margin-left: 30px;
}
.heart img {
  width: 30px;
  height: 30px;
  margin-right: 90px;
  margin-top: 10px;
  margin-left: 50px;
}
.shop img {
  width: 30px;
  height: 30px;
  margin-right: 90px;
  margin-top: 10px;
}
.text img {
  width: 30px;
  height: 30px;
  margin-right: 90px;
  margin-top: 10px;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contant {
  background-color: white;
  display: block;
  width: 300px;
  height: 1200px;
}
#Categories h1 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  line-height: 50px;
  margin-left: 40px;
}
.Crystal {
  width: 149px;
  height: 54px;
}
.Crystal a {
  text-decoration: none;
  color: black;
}
.Crystal h1 {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 500;
  line-height: 50px;
  margin-left: 40px;
}
#menu {
  width: 126px;
  height: 36px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-left: 40px;
  list-style: none;
}
#menu a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}
.Carat {
  width: 149px;
  height: 54px;
  margin-top: 50px;
}
.Carat a {
  text-decoration: none;
  color: black;
}
.Carat h1 {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 40px;
}
#Gold a {
  font-size: 15px;
  text-decoration: none;
  color: black;
  margin-left: 40px;
}

.Product {
  width: 149px;
  height: 54px;
  margin-top: 50px;
}
.Product a {
  text-decoration: none;
  color: black;
}
.Product h1 {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 40px;
  margin-top: -25px;
}
#Coin a {
  font-size: 15px;
  text-decoration: none;
  color: black;
  margin-left: 40px;
}
.Bridal {
  width: 180px;
  height: 54px;
  margin-top: 190px;
}
.Bridal a {
  text-decoration: none;
  color: black;
}
.Bridal h1 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 40px;
  margin-top: -25px;
}
#Enchanting a {
  font-size: 15px;
  text-decoration: none;
  color: black;
  margin-left: 40px;
}
.occasional {
  width: 180px;
  height: 54px;
  margin-top: 80px;
}
.occasional a {
  text-decoration: none;
  color: black;
}
.occasional h1 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 40px;
  margin-top: -25px;
}
#Birthday a {
  font-size: 15px;
  text-decoration: none;
  color: black;
  margin-left: 40px;
}
#Personalised {
  width: 100px;
  /* height: 101px; */
  margin-top: 80px;
  margin-left: 40px;
}
#Personalised h1 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  line-height: 20px;
  margin-top: -25px;
}
span {
  font-family: Poppins;
  font-size: 17px;
  font-weight: 500;
  line-height: 48px;
}
.text-area {
  background-color: #ffffff;
  /* width: 80%; */
  height: 50px;
  /* margin-right: 100px; */
  padding: 8px;
  /* margin-top: 20px; */
  text-align: center;
  /* margin-left: 10%; */
}
h4 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-left: 150px;
}
.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
  margin-left: 150px;
}
.collection-container {
  flex-basis: calc(25% - 20px);
  margin-left: 10px;
}
.collection-container img {
  max-width: 50%;
  border: 2px solid black;
  box-shadow: 10px 10px 4px 0px #84292b;
  border-radius: 10px;
}
.rate {
  width: 150px;
  height: 60px;
  box-shadow: 0px 6px 4px 0px #00000040;
  background: #d9d9d9;
  padding: 5px;
  margin-top: 10px;
}
.rate p {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  /* line-height: 30px; */
  text-align: center;
}
.rate span {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}
#coin {
  width: 84px;
  height: 40px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  margin-left: 40px;
}
.Coin-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
  margin-left: 150px;
}
.Coin {
  flex-basis: calc(25% - 20px);
  margin-left: 20px;
}
.Coin img {
  max-width: 50%;
  border: 2px solid black;
  box-shadow: 10px 10px 4px 0px #84292b;
  border-radius: 15px;
}
.percentage {
  width: 150px;
  height: 60px;
  box-shadow: 0px 6px 4px 0px #00000040;
  background: #d9d9d9;
  padding: 5px;
  margin-top: 10px;
}
.percentage p {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  /* line-height: 30px; */
  text-align: center;
}
.percentage span {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}
#biscuit{
    width: 84px;
  height: 30px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  margin-left: 40px;
}
.Biscuit-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
    margin-left: 150px;
}
.Biscuit {
  flex-basis: calc(25% - 20px);
  margin: 10px;
}
.Biscuit img {
  max-width: 50%;
  border: 2px solid black;
  box-shadow: 10px 10px 4px 0px #84292b;
  border-radius: 15px;
}
.one {
  width: 150px;
  height: 60px;
  box-shadow: 0px 6px 4px 0px #00000040;
  background: #d9d9d9;
  padding: 5px;
  margin-top: 10px;
}
.one p {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  /* line-height: 30px; */
  text-align: center;
}
.one span {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.best {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  margin-left: 50px;
}
#scroll{
  width: 174px;
height: 40px;
font-family: Nunito Sans;
font-size: 20px;
font-weight: 600;
line-height: 40px;
background: #8b0000;
color: #ffffff;
margin-left: 35%;
}
.arrow{
    display: flex;
    margin-left: 36%;
    width: 150px;
    justify-content: space-between;
}
.arrow a{
  font-family: Nunito Sans;
font-size: 24px;
font-weight: 600;
line-height: 40px;
text-align: left;
text-decoration: none;
color: #000000;
}
.Previous{
  display: flex;
      margin-left: 27%;
      width: 350px;
      justify-content: space-between;
}
.Previous a{
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  text-decoration: none;
  color: #000000;
}
.left{
  display: flex;
  margin-left: 29%;
  width: 250px;
  justify-content: space-between;
}
#img-40{
  text-align: center;
}
#img-40 img{
  width: 994px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 10px 10px 4px 0px #00000040;
  margin: 15px;
  
}
.left a{
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  text-decoration: none;
  color: #000000;
}
.information {
  width: 100%;
  background: #d9d9d9;
  position: relative;
}
#item {
  display: flex;
  justify-content: space-around;
}
#address {
  width: 114px;
  height: 41px;
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  color: #8b0000;
  margin-top: 20px;
}
#address p {
  margin-top: 10px;
  width: 300px;
  height: 100px;
  font-family: Nunito Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  color: #000000;
}
#Help {
  width: 156px;
  height: 41px;
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #8b0000;
  margin-top: 20px;
}
#Help p a {
  width: 265px;
  height: 120px;
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
}
#contact {
  width: 150px;
  height: 41px;
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 40.92px;
  color: #8b0000;
  margin-top: 20px;
}
#contact img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
#contact a {
  width: 215px;
  height: 34px;
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  color: #000000;
  margin-top: 20px;
  text-decoration: none;
}
#links{
  width: 161px;
  height: 41px;
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #8b0000;
  margin-top: 20px;
}
#links a {
  width: 194px;
  height: 165px;
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #000000;
  text-decoration: none;
}
#location {
  width: 116px;
  height: 41px;
  opacity: 0px;
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #8b0000;
  margin-top: 200px;
  margin-left: 100px;
}
#location img {
  width: 308px;
  height: 164px;
}
#follow {
  height: 41px;
  font-family: Nunito Sans;
  font-size: 26px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 200px;
  margin-left: 40%;
}
#follow a {
  color: #8b0000;
  margin-top: 300px;
  text-decoration: none;
}
#follow img {
  width: 20px;
  height: 25px;
  margin-left: 20px;
}
footer {
  width: 641px;
  height: 41px;
  font-family: Nunito Sans;
  font-size: 30px;
  font-weight: 600;
  line-height: 40.92px;
  color: #8b0000;
  margin-left: 32%;
}
